html, body {
  height: 100%;
  width: 100%;
  /* font-family: 'Rubik'; */
  font-family: 'Nunito', sans-serif;
  background: #fff;
}

body {
  margin: 0;
}

#navbar {
  /* border-bottom: 1px solid #eaeaea; */
}

.navbar a {
  text-decoration: none;
  background-color: transparent;
  color: #ff6e61;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
  background: #fff;

  /* Compensar borde del navbar */
  margin-top: -1px;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}



.font-weight-bold {
  font-weight: 700!important;
}

#fuelle {
  background: #0069ff;
  color: #fff;
  padding: 0.2em 0;
}

#alert {
  background: #ffffff;
  position: absolute;
  width: auto;
  top: 1em;
  right: 1em;
  z-index: 1;
  text-align: center;
  border-radius: 0.8em;
  font-weight: 500;
  padding: 0.7em 2em;
  box-shadow: 0px 2px 28px 2px #00000029;

  /* Disabled click alert */
  display: none;
}

#toolbox {
  /* background: #fff; */
  padding: 1em;
}

#ddlInstrument, #ddlTuning ,#ddlScale, #ddlKey {
  margin: auto;
  /* background: #e06155; */
  /* background: #fff6f6; */
  background: #fff1f1;
  border: none;
  border-radius: 0.65em;
  padding: 0.3em 0.2em;
}

select#ddlInstrument, select#ddlTuning, select#ddlScale, select#ddlKey {
  /* color: #fff; */
  color: #ff6e61;
  font-weight: 700;
}

select#ddlInstrument:focus, select#ddlTuning:focus, select#ddlScale:focus, select#ddlKey:focus {
  box-shadow: 0px 9px 19px 0px #ff6e614f;
}

select#ddlInstrument:focus, select#ddlTuning:focus ,select#ddlScale:focus, select#ddlKey:focus {
  outline: none;
}

.toolbox {
  flex: 1 1 auto;
  position: absolute;
  right: 1em;
  /* background: #FF6E61; */
  /* background: #ffe4e1; */
  background: #fff;
  box-shadow: 0px 9px 19px 0px #ff6e614f;
  border-radius: 1.55em;
  z-index: 1;
  padding: 1em;
  top: 2.5em;
  animation: hide-smooth 0.5s forwards;
  display: none;
}

.toolbox p {
  margin-bottom: 0;
}

.toolbox-dropmenus {
  display: flex;
  justify-content: space-around;
}

.instrument, .scale, .key {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0.5em;
}


/** SVG **/
#guitar, #scale, #key {
  width: 1.5em;
  margin: auto;
  padding-bottom: 1em;
  /* fill: #fff; */
  fill: #ff8378;
}

#menuToggler {
  width: 1em;
  stroke: #FF6E61;
  position: relative;
  z-index: 2;
}

.menu-items {
  position: absolute;
  z-index: 2;
  right: 1em;
  padding: 1em;
  background: #c7deff;
  border-radius: 0.65em;
  margin-top: 0.5em;
}

#menuOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: none;
}

.show {
  animation: show-smooth 0.7s forwards;
}

.slider {
  -webkit-appearance: none;
  height: 1.1em;
  width: 100%;
  /* background: #79b0ff; */
  background: #ff6e6130;
  outline: none;
  border-radius: 1em;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5em;
  height: 1.1em;
  background: #FF6E61;
  cursor: pointer;
  border-radius: 1em;
}

#rangeScale {
  margin: 0;
}

#scaleForm {
  display: flex;
}

.canvas-container {
  overflow: hidden;
  margin: 0 0 0 1em;
  /* box-sizing: border-box; */
}

.scroll-canvas {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.freet-container {
  justify-content: space-evenly;
  margin: 1em;
  border-radius: 2.1em;
  /* box-shadow: 0px 1px 0px 2px #c7deffa3; */
  /* background: #FF6E61; */
  /* background: #ffe4e19e; */
  /* background:#ffe4e1; */
  background:#fff;
  box-shadow: 0px 0px 15px 0px #ffdfdf;
  /* box-shadow: 0px 9px 19px 0px #ff6e614f; */
}

.freet-options {
  /* display: flex; */
  /* justify-content: space-evenly;
  margin-top: 1em;
  box-shadow: 0px 3px 16px #79b0ff7d;
  max-width: 90%;
  margin: 2em auto auto auto;
  border-radius: 0.65em; */
  justify-content: space-between;
}

.chords-title {
  margin: 0;
  padding: 1em 1.5em 0 1.5em;
  /* color: #FFFFFF; */
  color: #ff6e61;
  font-weight: 700;
}

.chords-container {
  display: flex;
  justify-content: center;
}

.chords {
  display: flex;
  padding: 1em 2em 0em 2em;
  align-self: center;
  color: #fff;
}

.chords-label {
  /* font-weight: 400; */
  font-weight: 700;
  color: #ff6e61;
}

.chords input {
  appearance: none;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  margin: 0;
  margin-right: 0.5em;
  position: relative;
  transition: background-color 0.3s;
  /* background-color: #E06155; */
  background-color: #fff6f6;
}

.chords input:hover {
  /* background-color: #FFE4E1; */
  background-color: #ff8378;
}

.chords input:focus {
  outline: none;
}

.chords input:before {
  content: '';
}

.chords input:after {
  content: '';
  transition: background-color 0.5s;
}

.chords input:checked{
  /* background: #FFE4E1;
  box-shadow: 0px 3px 6px #E06155; */
  background-color: #ff8378;
}

/* .chords input:checked:after {
  width: 0.72em;
  height: 0.72em;
  background-color: #fff;
  position: absolute;
  content: '';
  left: 5px;
  top: 5px;
  border-radius: 100%;
} */

.type-chords {
  padding: 0 1em 1em 1em;
}

.type-chords button {
  padding: 1em 1.8em;
  border: none;
  border-radius: 1.15em;
  /* background-color: #E06155; */
  /* background-color: #fff; */
  /* background-color: #fff6f6; */
  background-color: #fff1f1;
  /* color: #fff; */
  color: #ff6e61;
  font-weight: 500;
  /* font-family: 'Rubik', sans-serif; */
  font-family: 'Nunito', sans-serif;
  margin: 0 0.5em 0 0.5em;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
  width: max-content;
}

.type-chords button:hover {
  /* background-color: #FFE4E1; */
  background-color: #ff6e613d;
  /* color: #C25349; */
  color: #ff6e61;
  font-weight: 700;
  /* box-shadow: 0px 3px 6px #e06155c9; */
}

.type-chords button:active, .type-chords button:focus  {
  background-color: #FFE4E1;
  /* color: #C25349; */
  color: #ff6e61;
  /* box-shadow: 0px 3px 6px #e06155c9; */
  background-color: #ff6e613d;
  outline: none
}

.chords-buttons {
  display: flex;
  padding-left: 0;
  flex-flow: nowrap;
  overflow: auto;
}


.chords-buttons li {
  list-style: none;
  margin: 0;
  flex: none;
  padding: 0.4em 0;
}


/* -------------- DESKTOP -------------------- */
@media (min-width: 1025px) {
  .navbar {
    padding: 1rem 1rem;
  }

  .toolbox {
    display: block;
    position: relative;
    z-index: inherit;
    padding: 0;
    top: inherit;
    right: inherit;
    background: none;
    animation: none;
    box-shadow: none;
  }

  #menuToggler {
    display: none;
  }

  .instrument, .tuning, .scale, .key {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-flow: wrap;
  }

  #guitar, #accordion ,#scale, #key {
    width: 1.5em;
    margin: auto;
    padding-bottom: 0em;
    /* fill: #ff6e61; */
    fill: #ff8378;
    padding-right: 1em;
  }

  .scroll-canvas {
    display: none;
  }

  .canvas-container {
    overflow: hidden;
    margin: 0;
  }

  .freet-container {
    margin: 2em auto auto auto;
  }

  .freet-options {
    display: flex;
    /* justify-content: space-evenly;
    margin-top: 1em;
    box-shadow: 0px 3px 16px #79b0ff7d;
    max-width: 90%;
    margin: 2em auto auto auto;
    border-radius: 0.65em; */
    justify-content: center;
  }
  

  .type-chords button {
    padding: 1em 0.8em;
    border: none;
    border-radius: 1.55em;
    background-color: #E06155;
    color: #fff;
    font-weight: 700;
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Nunito', sans-serif;
    margin: 0 0.5em 0 0.5em;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
  }

  .chords {
    padding: 2em;
  }

  .chords-buttons {
    display: flex;
    padding-left: 0;
    flex-flow: wrap; 
    overflow: auto;
  }
}


/*---------------- Animaciones -----------------*/
@keyframes show-smooth {
  0% { transform: translateY(-20px); opacity: 0; visibility: hidden; }
  100% { transform: translateY(0); opacity: 1; visibility: visible; }
}

@keyframes hide-smooth {
  0% { transform: translateY(0px); opacity: 1; visibility: visible;} 
  100% { transform: translateY(-20px); opacity: 0; visibility: hidden;}
}






